*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.main-wrapper {
    max-width: 700px;
    width: 100%;
}

.head_header h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 25px;
}

.head_main {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

.head_main p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
}

.head_section,
.head_section2 {
    font-size: 19px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.head_section ul {
    list-style: none;
    padding-left: 0;
}

.head_section li {
    margin-bottom: 12px;
}

.head_section a {
    font-size: 18px;
    text-decoration: none;
    color: #0077ff;
    font-weight: 400;
    position: relative;
}

.head_section a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: #0077ff;
    transition: 0.3s;
}

.head_section a:hover::after {
    width: 100%;
}

.head_section span {
    display: inline-block;
    margin-top: 10px;
    font-size: 17px;
    color: #444;
}